<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Groceryke || We Deliver</title>
        <link rel="stylesheet" href="css/master.css">
</head>
<body>
  <header class="header">
      <div class="header__logoname">
        Groceryke
      </div>
      <div class="header__navbar">
        <ul class="header__ul">
            <li class="header__li"><a href="/" class="header__a">Home</a></li>
            <li class="header__li"><a href="/about" class="header__a">About us</a></li>
            <li class="header__li"><a href="/contact" class="header__a">Contact us</a></li>
            <li class="header__li"><a href="login" class="header__a">Login</a></li>
            <li class="header__li"><a href="sign-up" class="header__a">Sign up</a></li>
        </ul>

      </div>
  </header>
  {{{body}}}
</body>
</html>
